.Color {
  width: 20%; height: 100%;
  box-sizing: border-box;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  transition: all .3s ease-out;

  &:hover {
    box-shadow: #0000003d 0px 0px 0px 10px inset;
    cursor: pointer;
  }

  .hex,
  .name {
    width: 100%;
    margin: 2px 0;

    color: #1f2d3d;
    opacity: .4;

    font-weight: 800;
    font-size: 40px;
    text-align: center;
  }

  .name {
    font-size: 1.2vw;
  }

  .hex {
    font-size: 3vw;
  }

  .light {
    color: #fff;
  }

}